name: Deploy Docusaurus to GitHub Pages

on:
  push:
    branches: [master] # Change to your default branch if not 'master'

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [20.x]
    steps:
      - uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}

      - name: Install Yarn v1
        run: npm install -g yarn@1

      - name: Install dependencies
        run: yarn install

      - name: Build Docusaurus site
        run: yarn build

      - name: Upload build output as artifact
        uses: actions/upload-artifact@v4
        with:
          name: github-pages
          path: build # Ensure this matches your Docusaurus build output directory

  deploy:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - name: Deploy to GitHub Pages
        uses: actions/deploy-pages@v4
        with:
          token: ${{ secrets.GITHUB_TOKEN }}